* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--light);
}

a{
    text-decoration: none;
    color: currentColor;
}

/* palette colori */

:root {
    --grey: #282828;
    --dark-grey:#141922;
    --light-grey: #808080;
    --dark-blue:#141922;
    --light:#FFFFFF;
    --dark:#000000;

}

/* layout */

.app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-app{
    flex-grow: 1;
    display: flex;

}

.toolbar {
   height: auto;
}



/* main content */


.aside{
    width: 235px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
}

.main-content{
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--dark-blue);
}


/* toolbar */

.toolbar {
    background-color: var(--grey);
    display: flex;
    justify-content: space-between;
    padding: 22px 11px 26px 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.info-song{
    display: flex;
    align-items: center;
}

.img-song{
    width: 55px;
    margin-right: 13px;
}

.song{
    margin-right: 44px;
    display: flex;
    flex-direction: column;
}

.artist-song{
    font-size: 13px ;
    font-weight: 800;
}

.title-song{
    font-size: 10px;
}

.title-song, 
.info-song i{
    color: var(--light-grey);
}

.title-song:hover,
.info-song i:hover{
    color: var(--light);
}

.toolbar .fa-heart{
    margin-right: 15px;
}

.action-button {
    display: flex;
}





/* debug */

.debug .toolbar .col {
    border: 1px solid red;
    /* padding: 20px; */
}

.debug .main-content {
    /* border: 2px solid orange; */
}

.debug .toolbar {
    /* border: 2px solid red; */
}

.debug aside{
    /* border: 2px solid green; */
}

.debug main{
    /* border: 2px solid blue; */
}

